.calendar {
    box-sizing: border-box;
    font-size: 1rem;
    max-width: 100%;
    
    .header {
        background-color: var(--light-blue);
        text-align: center;
        min-height: 2rem;
        line-height: 2rem;
        color: var(--black);
        font-family: var(--font-book);
        font-weight: 700;
        display: flex;
    }

    .day-names {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .body {
        border: 1px solid var(--light-blue);
    }

    .header .previous {
        flex: 1;
        text-align: left;
        margin-left: 1rem;
    }

    .header .next {
        flex: 1;
        text-align: right;
        margin-right: 1rem;
    }

    .week {
        width: calc((100% / 7) - 0px);
        height: 44px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;
        color: var(--black);
        font-weight: 400;
        border: 1px solid black;
        background-color: rgb(102, 193, 255);
    }

    .week div {
        width: 100%;
    }

    .day {
        position: relative;
        width: calc(100% / 7);
        height: calc(100% / 7);
        display: inline-block;
        background-color: white;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        z-index: 1;
        text-align: center;
        border: 1px solid black;
    }

    .day div {
        margin: 50px auto;
        width: 54px;
        height: 44px;
        position: relative;
        color: var(--black);
        z-index: 100;
        line-height: 44px;
    }

    .day div.before {
        color: var(--grey);
    }

    .day div.selected {
        background-color: var(--red);
        color: var(--white);
        font-weight: bold;
    }
      
    .day div.today {
        background-color: var(--grey);
    }
      
}
  