.home {

  .carousel-holder {
    position: relative;
  }

  .carousel-item {
    img {
      height: calc(100vh - 56px);
      width: 100%;
      object-fit: cover;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background-color: rgba(55,55,55,0.5);
    }
  }

  .date {
    margin: 0;
    position: absolute;
    top: auto;
    right: auto;
    left: 25px;
    bottom: 0px;
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  .motd {
    margin: 0;
    position: absolute;
    top: 25px;
    right: 25px;
    left: auto;
    bottom: auto;
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: right;

    .title {
      font-size: 20px;
      margin-bottom: 0;
    }

    .sub-title {
      font-size: 40px;
    }
  }

  .date-today {
    margin-bottom: 0;
    font-size: 25px;
  }

  .date-week {
    font-size: 70px;
  }
}