.form-holder {
    margin: 50px auto;
    max-width: 700px;

    .capitalize,
    .input {
        text-transform: capitalize;
    }

    .form-control {
        font-weight: 600;
    }

    input::placeholder {
        font-weight: 400;
        color: #bebebe;
    }
}

.capitalize {
    text-transform: capitalize;
}

.hide {
    display: none;
}