.header {
    background-color: #282c34;

    .navbar-brand {
        color: #fff;
    }

    .nav-link {
        color: #fff;
    }

    .button-link {
        padding: 5px 15px;
        color: white;
        text-decoration: none;
        background-color: #4388a5;
        border-radius: 5px;
    }

    .header-brand {
        color: #fff;
        transition: all .3s ease;

        &:hover {
            text-decoration: none;
            color: #8e8e8e;
        }
    }
}